target/**
*/target/*/**
*.jar
*.class

!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

.idea
*.iws
*.iml
*.ipr
*.log
*.class
*/**.class

.idea/*/**

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/

*/node_modules/*
*/**/node_modules/*/**
*/.cache/*


*/DiffFieldTEts.java

.DS_Store
*/**/.DS_Store
**/rebel.xml
*.log.*

bronze-start/src/main/resources/statics/*
*.class


*/dist/**

galileo-vue/.DS_Store
*.class
galileo-sdk/src/main/.DS_Store
.idea/*/**
galileo-autoconfig/.DS_Store
*.class
galileo-tool/target/classes/org/armada/galileo/common/util/CommonUtil.class
galileo-scan/target/galileo-scan-util.jar.original
