/* element 覆盖样式*/
* {
  /*font-size: 12px;*/
  /*font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;*/

  outline: 0;
  /*color: #606266;*/
}

.is-light {
  color: #000;
}

.el-tree-node__label,
.el-form-item__label,
.el-checkbox__label {
  /*font-size: 12px;*/
}

.el-checkbox__label {
  padding-top: 2px;
}

.el-tabs__content {
  /*padding: 0px 8px 0px 8px;*/
}

.div-table-view-page {
  overflow: hidden;
  padding: 0px 8px 0px 8px;
}

.el-tabs__item:focus.is-active.is-focus:not(:active) {
  -webkit-box-shadow: 0 0 2px 2px #409EFF inset;
  box-shadow: 0px 0px 0px 0px #409EFF inset;
  border-radius: 3px;
}

.form-checkbox-common-group .el-checkbox {
  width: 160px;
  margin-left: 0px;
}


.el-form--label-top .el-col{
  width: 380px;
  padding: 0px 20px 0px 20px;
}

.float_form_panel_div .el-col {
  width: 380px;
}

.float_form_panel_div .el-col-2 {
  width: 760px;
}

.float_form_panel_div .el-col-3 {
  width: 1140px;
}


.el-form--label-top .el-form-item__label{
  padding-bottom: 4px;
}


.el-table td,
.el-table th {
  padding: 8px 0px 8px 0px;
}

.el-table thead th {

  background-color: #f6f6f6;
  color: #333;
  font-weight: 500;
  padding: 6px 0px 6px 0px;

  border-bottom: 1px solid #ebeef5;
}

.el-table--border td:last-child,
.el-table--border th:last-child {
  border-right: 0px solid #EBEEF5;
}

.el-select,
.el-cascader {
  width: 100%;
}

.el-form {
  padding: 10px 24px 20px 24px;
}

.search-panel {
  padding: 0px 0px 0px 0px;
}

.search-panel .el-form-item {
  margin-bottom: 10px;
}

.el-pager li {
  font-weight: normal;
}

/* 分页栏 */

.el-pagination {
  padding-left: 15px;
  margin-top: 8px;
  background-color: #FAFAFA;
  border: 1px solid #ebeef5;
}

.el-pagination button,
.el-pagination span:not([class*=suffix]) {
  display: inline-block;
  font-size: 13px;
  min-width: 35.5px;
  height: 24px;
  line-height: 24px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.el-pagination button,
.el-pagination span:not([class*="suffix"]),
.el-pagination__sizes .el-input .el-input__inner {
  /*font-size: 12px;*/
}

.el-pagination__editor.el-input .el-input__inner {
  height: 24px;
  line-height: 24px;
}

.el-pagination .btn-prev,
.el-pagination .el-select .el-input__inner,
.el-pagination .el-pager,
.el-pagination .number {
  height: 24px;
  line-height: 24px;
  padding: 0px;
}

/*.talbe_outer_wapper{
    margin:  0px 10px 10px 10px;
}*/
/*.talbe_outer_wapper{
    padding: 0px 10px 10px 10px;
}*/

/* 自定义样式*/

.app-main-menu {
  width: 200px;
  background-color: #fff;
  border-right: 1px solid #ebeef5;
}

.app-el-contaniner {
  background-color: #f0f2f5;
  overflow: hidden;
}

/*.app-main .el-tabs__content{
    background-color: #f0f2f5;
    padding: 10px 10px 10px 10px;
}*/
.app-main .el-tabs__content {
  background-color: #f0f2f5;
  padding: 10px 10px 10px 10px;
}

.app-main .el-tabs__header {
  padding: 0;
  position: relative;
  margin: 0px 0px 0px 0px;
  background-color: #fff;
}

.page_detail_tab .el-tabs__content {
  background-color: #fff;
}

.el-tabs__nav-scroll {
  padding-left: 15px;
}

.app-main {
  padding: 0px;
  overflow: hidden;

}

.app-main .el-tab-pane {
  background-color: #fff;
  padding: 0px 0px 0px 0px;
}

.float_form_panel_div {
  padding-bottom: 70px;
  padding-top: 4px;
}

.div-table-view-page {
  padding-top: 18px;
}

.el-aside {
  color: #333;
}

.cell .el-button--small,
.el-button--small.is-round {
  padding: 0px 0px;
}

.el-form-item.is-success {
  border-color: #c0c4cc;
}

.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
  background-color: rgb(231, 219, 219);
  font-weight: bold;
}

/* 隐藏首页的关闭按钮 */
#tab-tab-portal- .el-icon-close {
  display: none;
}

.float_form_panel_btn {
  width: 1010px;
  background-color: hsla(0, 0%, 100%, 0.9);
  overflow: hidden;
  position: fixed;
  z-index: 2000;
  padding: 5px;
  text-align: left;
  height: 60px;
  /*line-height: 60px;    */
  padding-left: 130px;
  padding-top: 14px;
  box-sizing: border-box;
  bottom: 0px;
}

.formFieldsetSpiler {
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px dashed #dcdfe6;
  /*margin-bottom: 20px; */
  margin: 10px 0px 10px 0px;
  padding-bottom: 6px;
  width: 1150px;
}

.windowForm .formFieldsetSpiler {
  width: 98%;
}

.windowForm .el-col {
  width: 49%;
}

.windowForm .el-col-2 {
  width: 98%;
}

.el-table .caret-wrapper {
  height: 22px;
  margin-top: -2px;

}

.el-table .sort-caret.ascending {
  top: 0px;
}

.el-table .sort-caret.descending {
  bottom: 0px;
}

.font-highlight-red {

  color: #fff;
  background-color: orange;
  /*border: 1px solid #dcdfe6;*/

  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  border-radius: 6px;
  /*font-size: 12px;*/
}

.font-highlight-green {

  color: #fff;
  background-color: green;
  /*border: 1px solid #dcdfe6;*/

  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  border-radius: 6px;
  /*font-size: 12px;*/
}

.el-dialog__body {
  padding: 10px 10px 10px 10px;
  color: #606266;
  font-size: 14px;
}

.grid-page-btns-div {
  padding: 5px 5px 5px 10px;
}

.el-message-box__title span {
  font-size: 16px;
  font-weight: bold;
}

/* form readonly */
.el-tag--info,
.el-tag--info .el-tag__close {
  color: #000;
}

.el-cascader.is-disabled .el-cascader__label {
  color: #000;
}

.el-upload-list__item {
  /*margin-top: 12px;*/
  outline: 0;
}

.el-upload-list__item-name {
  outline: 0;
}

.el-input.is-disabled .el-input__inner {
  background-color: #fff;
  border-color: #e4e7ed;
  color: #000;
  cursor: not-allowed;
}

.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner,
.el-form-item.is-success .el-textarea__inner:focus {
  border-color: #dcdfe6;
}

.cellInput {
  border: none;
  outline: 0;
}

.el-table-nowwarp .cell {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
}

/*tab*/
.el-tabs__item {
  padding-left: 20px;
  outline: 0;
  webkit-touch-callout: none;
  /* iOS Safari */

  -webkit-user-select: none;
  /* Chrome/Safari/Opera */

  -khtml-user-select: none;
  /* Konqueror */

  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* Internet Explorer/Edge */

  user-select: none;

  color: #666;
}

.el-tabs__item .is-top .is-active .is-closable {
  padding-left: 20px;
  outline: 0;
  webkit-touch-callout: none;
  /* iOS Safari */

  -webkit-user-select: none;
  /* Chrome/Safari/Opera */

  -khtml-user-select: none;
  /* Konqueror */

  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* Internet Explorer/Edge */

  user-select: none;
  color: #fff;
}

.tabCloseMenuDiv {

  border: 0px solid #dcdfe6;
  background: #fff;
  cursor: pointer;
  border-radius: 8px;
  position: absolute;
  background-color: #fff;
  line-height: 24px;
  padding: 8px 0px 8px 0px;
  box-shadow: darkgrey 2px 2px 20px 1px;
  z-index: 3000;
}

.tabCloseMenuDiv div {
  font-size: 14px;
  color: #666;

  padding: 5px 15px 5px 15px;
}

.tabCloseMenuDiv div:hover {
  font-weight: bold;
  background-color: #edf5fe;
  color: #409EFF;
}

/*文件上传*/
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}

.avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.el-header-dropdown,
.el-header-span {
  color: #ccc;
}

/*.el-table--striped .el-table__body tr.el-table__row--striped.current-row td, .el-table__body tr.hover-row.current-row>td, .el-table__body tr.hover-row.el-table__row--striped.current-row>td, .el-table__body tr.hover-row.el-table__row--striped>td, .el-table__body tr.hover-row>td {
    background-color: #f9f9f9;
}*/

.el-table__body tr.current-row>td {
  background-color: #d6e3fb;
}

.el-submenu .el-menu-item {
  height: 34px;
  line-height: 34px;
  padding: 0 65px;
  /*font-size: 12px;*/
}

.el-menu-item,
.el-submenu__title {
  height: 44px;
  line-height: 44px;
  position: relative;
  -webkit-box-sizing: border-box;
  white-space: nowrap;
  list-style: none;
}

.el-menu {
  border-right: none;
  list-style: none;
  position: relative;
  margin: 0;
  padding-left: 0;
}

.el-radio__label {
  /*font-size: 12px;*/
}

.el-pager li.btn-quicknext,
.el-pager li.btn-quickprev {
  line-height: 25px;
}

.el-pager li {
  height: 25px;
}

.labelBlue label {
  color: blue;
}

.el-pager .more::before {
  line-height: 24px;
}

.label-highlight .el-form-item__label {
  font-weight: bold;
  /*color: blue;*/
}

.el-table--border td {
  border-right: 0px solid #fff;
  border-left: 0px solid #fff;
}

.el-table--border {
  border-right: 0px solid #fff;
  border-left: 0px solid #fff;
}

.el-table--border::after,
.el-table--group::after {
  top: 0;
  right: 0;
  width: 0px;
  height: 100%;
}

.search-panel-main .el-col {
  width: auto;
}

.search-panel .el-col {
  width: auto;
}

.clearable-date-picker .el-input__inner {
  padding-right: 10px;
}

.clearable-date-picker .el-input__inner {
  padding-right: 10px;
}


.form-fieldset-spiler {
  font-weight: 700;
  font-size: 14px;
  border-bottom: 1px dashed #dcdfe6;
  margin: 10px 0;
  padding-bottom: 6px;
  width: 1150px;
  position: relative;
}

.form-fieldset-spiler i {
  float: left;
  width: 4px;
  height: 14px;
  margin: 4px 10px 0px 1px;
  background: #047dc6;
}

.form-fieldset-spiler .form-field-set-slot {
  position: absolute;
  right: 0px;
  top: 0px;
}

.form-fieldset-spiler .form-field-set-slot button {
  padding: 0px 15px 0px 15px;
}

.el-tag.el-tag--info {
    background-color: #f4f4f5;
    border-color: #e9e9eb;
    color: #606266;
}
.el-select .el-tag__close.el-icon-close {
    background-color: #f4f4f5;
    right: -7px;
    top: 0;
}

/* 渠道标志 */
.icon_court{
  background-color: #dbf2f9;
  color: #0654a5;
  border: 1px solid #94c9ff;
  border-radius: 4px; -webkit-box-sizing: border-box; white-space: nowrap; padding: 1px 3px 1px 3px;
}
.icon_mediate_to_court{
  background-color: #ffeed9;
  color: #cc7827;
  border: 1px solid #ffc31e;
  border-radius: 4px; -webkit-box-sizing: border-box; white-space: nowrap; padding: 1px 3px 1px 3px;
}
.icon_execution{
  background-color: #f1edd5;
  color: #6d6322;
  border: 1px solid #b9a940;
  border-radius: 4px; -webkit-box-sizing: border-box; white-space: nowrap; padding: 1px 3px 1px 3px;
}
.icon_pre_execution_urge{
  background-color: #e4ffe4;
  color: #049019;
  border: 1px solid #7edc7e;
  border-radius: 4px; -webkit-box-sizing: border-box; white-space: nowrap; padding: 1px 3px 1px 3px;
}
.icon_preserve{
  background-color: #FFF8DC;
  color: #FF4500;
  border: 1px solid #FF4500;
  border-radius: 4px; -webkit-box-sizing: border-box; white-space: nowrap; padding: 1px 3px 1px 3px;
}

.date-no-suffix .el-input__inner{
  padding-right: 0px;
}

.page-content-title{
  height: 40px;
  line-height: 40px;
  padding-left: 30px;
}


