##分页控件
#macro(page_cmp $url $pageList)
	
	#set($url = $config.contextPath+$url)
	
	#set($extraParam = "")
	#foreach($data in $PAGING_PARAMS.entrySet())
		#foreach($sv in $data.value)
			#set($extraParam = $extraParam + "&" + $data.key + "=" + $sv)
		#end
	#end
	<div class="pagination">
		<ol>
			#if($pageList.hasPre)
				#set($tmp_pre_pageindex=$pageList.currentPage - 1)
				<li>
				<a href="${url}?target_page=${tmp_pre_pageindex}">
					上一页
				</a>
				</li>
			#else
				<li><a href="">上一页</a></li>
			#end
	
			#set($num_per_page = 2)
			#set($num_start = $pageList.currentPage - $num_per_page)
			#set($num_end = $pageList.currentPage + $num_per_page)
			
			#if($num_start < 1)
				#set($num_start = 1)
				#set($num_end = 5)
			#end
			#if($num_end > $pageList.totalPage)
				#set($num_start = $pageList.totalPage - 4)
				#set($num_end = $pageList.totalPage)
			#end
			#set($nums=[$num_start..$num_end ])
			#foreach($x in $nums)
			
			    #if($x==$num_start)
			    	
					#if( $x > 1)
						#if($x!=$pageList.currentPage)<li><a href="${url}?target_page=1$!{extraParam}$!{mark}">1</a> #else <li class="active"><a href="">1</a> #end</li>
					#end
					#if( $x > 2)
						<li><a href="">...</a></li>
					#end
				#end
				#if($x > 0 && $x < $pageList.totalPage + 1)
					#if ($x!=$pageList.currentPage) <li><a href="${url}?target_page=${x}$!{extraParam}$!{mark}">${x}</a> #else <li class="active"><a href="">${x}</a> #end</li>
				#end
				#if($x==$num_end)
					#set($tmp_num_c = $pageList.totalPage - 1)
					#if($x < $tmp_num_c)
						<li><a href="">...</a></li>
					#end
					#if($x < $pageList.totalPage)
						#if($x!=$pageList.currentPage)<li><a href="${url}?target_page=${pageList.totalPage}$!{extraParam}$!{mark}">${pageList.totalPage}</a> #else <li class="active"><a href="">${pageList.totalPage}</a> #end</li>
					#end
				#end
			#end
				
			#if($pageList.hasNext)
				#set($tmp_target_page = $pageList.currentPage + 1)
				<li>
				<a href="${url}?target_page=${tmp_target_page}$!{extraParam}$!{mark}">
					下一页
				</a>
				</li>
			#else
				<li><a href="">下一页</a></li>
			#end
		</ol>
	</div>
#end





## JS分页控件
#macro(page_cmp_ajax $func $pageList)
	
	
	#set($extraParam = "")
	#foreach($data in $PAGING_PARAMS.entrySet())
		#foreach($sv in $data.value)
			#set($extraParam = $extraParam + "&" + $data.key + "=" + $sv)
		#end
	#end
	<div class="pagination">
		<ol>
			#if($pageList.hasPre)
				#set($tmp_pre_pageindex=$pageList.currentPage - 1)
				<li>
				<a href="javascript:void(0);" onclick="${func}(${tmp_pre_pageindex})">
					上一页
				</a>
				</li>
			#else
				<li><a href="javascript:void(0);">上一页</a></li>
			#end
	
			#set($num_per_page = 2)
			#set($num_start = $pageList.currentPage - $num_per_page)
			#set($num_end = $pageList.currentPage + $num_per_page)
			
			#if($num_start < 1)
				#set($num_start = 1)
				#set($num_end = 5)
			#end
			#if($num_end > $pageList.totalPage)
				#set($num_start = $pageList.totalPage - 4)
				#set($num_end = $pageList.totalPage)
			#end
			#set($nums=[$num_start..$num_end ])
			#foreach($x in $nums)
			
			    #if($x==$num_start)
			    	
					#if( $x > 1)
						#if($x!=$pageList.currentPage)<li><a href="javascript:void(0);" onclick="${func}(1)" >1</a> #else <li class="active"><a href="javascript:void(0);">1</a> #end</li>
					#end
					#if( $x > 2)
						<li><a href="javascript:void(0);">...</a></li>
					#end
				#end
				#if($x > 0 && $x < $pageList.totalPage + 1)
					#if ($x!=$pageList.currentPage) <li><a href="javascript:void(0);" onclick="${func}(${x})"  >${x}</a> #else <li class="active"><a href="javascript:void(0);">${x}</a> #end</li>
				#end
				#if($x==$num_end)
					#set($tmp_num_c = $pageList.totalPage - 1)
					#if($x < $tmp_num_c)
						<li><a href="javascript:void(0);">...</a></li>
					#end
					#if($x < $pageList.totalPage)
						#if($x!=$pageList.currentPage)<li><a href="javascript:void(0);" onclick="${func}(${pageList.totalPage})" >${pageList.totalPage}</a> #else <li class="active"><a href="javascript:void(0);">${pageList.totalPage}</a> #end</li>
					#end
				#end
			#end
				
			#if($pageList.hasNext)
				#set($tmp_target_page = $pageList.currentPage + 1)
				<li>
				<a href="javascript:void(0);" onclick="${func}(${tmp_target_page})">
					下一页
				</a>
				</li>
			#else
				<li><a href="javascript:void(0);">下一页</a></li>
			#end
		</ol>
	</div>
#end



