<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><title>askja-vue</title><link href=/statics/front/css/app.72f320e8152a7c0874468a20c8e0289b.css rel=stylesheet></head><body style="margin: 0px 0px 0px 0px; padding:0px 0px 0px 0px;"><div id=app></div><script type=text/javascript src=/statics/front/js/manifest.55f2f56db53806d3049e.js></script><script type=text/javascript src=/statics/front/js/vendor.33348cb23ce633013f87.js></script><script type=text/javascript src=/statics/front/js/app.11a9ccef6df6195485d6.js></script></body></html>