pre, tt, code, kbd, samp {
	font-family: Courier;
	font-size: 9pt;
	line-height: 12pt;
}
dt {
	margin: 0;
}

body {
	margin: 0px;
}

dd {
	margin-left: 40px;
	margin-bottom: 0;
	margin-right: 0;
	margin-top: 0;
}

blockquote, figure {
	margin: 1em 40px;
}

center {
	display: block;
	text-align: center;
}

blockquote[type="cite"] {
	border: 3px solid;
	padding-left: 1em;
	border-color: blue;
	border-width: thin;
	margin: 1em 0;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 0.67em 0;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0.83em 0;
}

h3 {
	font-size: 1.17em;
	font-weight: bold;
	margin: 1em 0;
}

h4 {
	font-size: 1em;
	font-weight: bold;
	margin: 1.33em 0;
}

h5 {
	font-size: 0.83em;
	font-weight: bold;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.67em;
	font-weight: bold;
	margin: 2.33em 0;
}

listing {
	font-size: medium;
	margin: 1em 0;
	white-space: pre;
}

xmp, pre, plaintext {
	margin: 1em 0;
	white-space: pre;
}

caption {
	text-align: center;
}

sub {
	font-size: smaller;
	vertical-align: sub;
}

sup {
	font-size: smaller;
	vertical-align: super;
}

nobr {
	white-space: nowrap;
}

mark {
	background: none repeat scroll 0 0 yellow;
	color: black;
}

abbr[title], acronym[title] {
	border-bottom: 1px dotted;
}

ul, menu, dir {
	list-style-type: disc;
}

ul li ul {
	list-style-type: circle;
}

ol {
	list-style-type: decimal;
}

hr {
	color: gray;
	height: 2px;
}

p{
	#defaultPargraphCss#
	display: block;
	text-align:justify;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

table {
	margin-top: 10px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	text-indent: 0;
}
tr {
	vertical-align: inherit;
}

tbody {
	vertical-align: middle;
}

thead {
	vertical-align: middle;
}

tfoot {
	vertical-align: middle;
}

table>tr {
	vertical-align: middle;
}
td {
	text-align: inherit;
	vertical-align: inherit;
	border-left: 1px solid #000;
    border-top: 1px solid #000;
	#defaultTableTdCss#
}
th {
	display: table-cell;
	font-weight: bold;
	vertical-align: inherit;
	#defaultTableTdCss#
}

.last-x-td{
	border-right: 1px solid #000;	
}

.last-y-td{
	border-bottom: 1px solid #000;
}
