<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <property name="APP_NAME" value="asama" />
    <property name="ALL_FILE" value="log/all.log" />

    <appender name="APPLICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ALL_FILE}</file>
        <encoder>
            <pattern><![CDATA[
				[%d{yyyy-MM-dd HH:mm:ss.S}] [%thread] - %5p \(%F:%L\) - %m%n
            ]]></pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${ALL_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>120</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern><![CDATA[
				[%d{yyyy-MM-dd HH:mm:ss.S}] [%thread] - %5p \(%F:%L\) - %m%n
            ]]></pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <springProfile name="sample,online">
        <root level="INFO">
            <appender-ref ref="APPLICATION" />
        </root>
    </springProfile>



    <logger name="httpclient" level="ERROR"  />

    <logger name="org.apache.http" level="ERROR"  />

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <springProfile name="dev, local_wxb">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>


        <logger name="org.armada" level="DEBUG" />
        <logger name="java.sql.Connection" level="DEBUG" />
        <logger name="java.sql.Statement" level="DEBUG" />
        <logger name="java.sql.PreparedStatement" level="DEBUG" />
    </springProfile>

</configuration>